body,
html {
  margin: 0;
  padding: 0;
  width: 380px;
  height: 600px;
  box-shadow: 
  0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

#root{
  width : 100%;
  height: 100%;
}
